@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

.shadow-navbar {
  box-shadow: 0px 4px 70px rgba(30, 40, 52, 8%);
}

.gradient-font {
  background: -webkit-linear-gradient(
    180deg,
    rgb(234, 156, 40),
    rgb(196, 23, 64)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.4px);
  -webkit-backdrop-filter: blur(12.4px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}
